* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #222
}

section {
    height: calc(100% - 90px);
}

aside {
    float: left;
    width: 230px;
    height: 100%;
    background-color: #101010;
    position: fixed;
    padding-bottom: 90px;
}


/* ----------------------------------------------------- MAIN */

main {
    float: left;
    width: calc(100% - 230px);
    height: 100%;
    margin-left: 230px;
    padding-bottom: 90px;
}


/* ----------------------------------------- NAV */

nav {
    display:flex;
    justify-content: center;
}

#nav-album-list ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
}

#nav-album-list li {
    font-size: 12px;
    color: #fff7;
    list-style: none;
    text-transform: uppercase;
    padding: 10px 0;
}

#nav-album-list li:hover {
    color: #fff;
    cursor: pointer;
}

#nav-album-list li:hover::after {
    content: '';
    display: block;
    border-bottom: 2px solid #0f0;
    width: 50%;
    margin: auto;
    margin-top: 5px;
}

#nav-album-list li:first-of-type {
    color: #fff;
}

#nav-album-list li:first-of-type::after {
    content: '';
    display: block;
    border-bottom: 2px solid #0f0;
    width: 50%;
    margin: auto;
    margin-top: 5px;
}

#nav-album-list li:not(:last-of-type) {
    margin-right: 50px;
}



/* ------------------------- SECTION #ALBUM-LIST  */

#album-list {
    padding: 20px 50px;
    color: #fff;
}

#album-list .row {
    margin-bottom: 40px;
}

#album-list h1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 0.4px;
}

#album-list .all-cards {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}

#album-list .single-card {
    width: 182px;
    height: 256px;
    background-color: #333;
    border-radius: 10px;
    margin-right: 20px;
    padding: 20px;
    position: relative;
}

.single-cards img {
    width: 142px;
    height: 142px;
}

.single-card h2 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0;
}

.single-card p {
    font-size: 12px;
    line-height: 18px;
    color: #b3b3b3;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}



/* -------------------------------------------------- FOOTER */

footer {
    width: 100vw;
    height: 90px;
    background-color: #333;
    position: fixed;
    bottom: 0px;
}



















/* END */
